.ticker-detail {
  width: 80%;
  margin: 0 auto;
}

.ticker-detail p {
  font-family: 'Share Tech';
  font-size: 24px;
}

.ticker-detail p:first-child {
  position: relative;
  left: -15px;
  font-family: Geneva, serif;
  font-size: 36px;
  margin-bottom: 20px;
  border-left: 5px solid #844;
  padding-left: 15px;
}

.ticker-detail div {
  margin-bottom: 50px;
}

.ticker-detail table {
  margin-top: 30px;
}

.ticker-detail td {
  width: 125px;
  font-size: 16px;
  text-align: left;
  padding: 5px;
}

.ticker-detail li {
  font-family: 'Share Tech';
  font-size: 20px;
  margin-bottom: 15px;
}
.welcome {
  font-family: Georgia, serif;
  font-size: 36px;
  text-align: center;
}
