{% extends "base.jinja" %}

{% block content %}
<section class="welcome">
  <p>
    <span class="transparent fadein_one">See better <span class="fg-primary">data</span>.</span>
    <span class="transparent fadein_two">Build better <span class="fg-primary">insights</span>.</span>
    <span class="transparent fadein_three">Get better <span class="fg-primary">results</span>.</span>
  </p>

  <a href="/auth"><button class="btn btn-l-rnd bg-primary fg-llgrey">Login</button></a>
  <a href="/auth"><button class="btn btn-l-rnd bg-primary fg-llgrey">Sign Up</button></a>
</section>
{% endblock %}
