{% extends "base.jinja2" %}

{% block content %}

{% for company in companies %}
<a href="{{request.route_url('stock-detail',symbol=company.symbol)}}"><h2>{{company.symbol}} - {{company.companyName}}</h2></a>
<p>{{company.website}}</p>
<p>CEO: {{company.CEO}}</p>
{% endfor %}

{% endblock %}
