{% extends "base.jinja2" %}

{% block content %}
<form class="s-form">
  <fieldset>
    <label for="username">Username:</label>
    <input type="text" name="username" required>
  </fieldset>
  <fieldset>
    <label for="password">Password:</label>
    <input type="text" name="password" required>
  </fieldset>
  <fieldset>
    <label for="confirm-password">Confirm Password:</label>
    <input type="text" name="confirm-password">
  </fieldset> 
  <button class="btn btn-l-rnd bg-primary fg-llgrey">Register</button>
</form>
{% endblock %}
