{% extends "base.jinja2" %}

{% block content %}
<section class="ticker-detail">
  <div>
    <p>Apple Corporation</p>
    <p>
      <span>AAPL</span>
      <span>167.78</span>
      <span>Up 167.78</span>
    </p>
  </div>

  <div>
    <p>Daily Detail</p>
    <ul>
      <li>Open: <span>167.80</span></li>
      <li>Close: <span>167.78</span></li>
      <li>Volume: <span>38,398,505</span></li>
    </ul>
  </div>
</section>
{% endblock %}
